body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}
#header {
  width: 80%;
  margin: auto;
  display: flex;
}
#header .bars {
  margin: auto;
  margin-top: 31px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 40%;
  justify-content: center;
  align-items: center;
}
.bars hr {
  width: 100%;
  height: 2px;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(98, 96, 96);
  border-radius: 5px;
}
#header span {
  color: rgb(0, 177, 205);
}
#main {
  background-color: #00b1cd;
  display: flex;
  width: 80%;
  border-radius: 10px;
  height: 200px;
  margin: auto;
  color: rgb(255, 255, 255);
}
.today-weather {
  width: 30%;
  margin: 10px;
  padding: 10px;
}
.current-weather-type {
  display: flex;
  margin: auto;
  justify-content: space-between;
}
.current-temp {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-self: center;
}
.current-temp > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.todtemp {
  display: flex;
  font-size: 40px;
}

.temp-min-max {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
.current-temp-nam {
  text-align: center;
}
.temp-min,
.temp-max {
  text-align: center;
}
.flexdivs {
  display: flex;
}
.today-weatherinfo {
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  width: 70%;
  border: 1px solid;
}
.weatherinfo {
  display: flex;
  flex-direction: column;
  text-align: center;
}

li {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
ul {
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
h1 {
  text-align: center;
}
#forecast {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-rows: 200px; */
  gap: 10px;
  width: 80%;
  margin: auto;
  color: rgb(255, 255, 255);
}
#forecast > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #00b1cd;
  border-radius: 5px;
  padding: 20px;
}
#forecast > div > img {
  width: 50%;
  display: flex;
}
h2 {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}
.minmaxblur {
  color: rgb(206, 206, 206);
  font-style: italic;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.minmaxblur i {
  color: rgb(255, 255, 255);
}
.spacing {
  gap: 10px;
  justify-content: center;
}
form {
  display: flex;
  /* flex-direction: column; */
  width: 50%;
  margin: auto;
  gap: 10px;
  margin-bottom: 10px;
}
input[type="submit"] {
  color: #00b1cd;
  display: block;
  flex-direction: column;
}
#form{
  text-align: center;
  margin-bottom: 10px;

}